@import '../variables';

.hamburger {
	background-color: transparent;
	border: none;
	display: flex;
	flex-direction: column;
	gap: 6px;

	$hamburger: &;

	@media (min-width: $bp-tablet) {
		display: none;
	}

	&__line {
		width: 24px;
		height: 2px;
		background-color: hsl(var(--clr-secondary));				
		transition: all 0.3s ease-in-out;
	}

	&--active {
		z-index: 12;
		transition: all 0.3s ease-in-out 0.3s;

		#{$hamburger}__line {
			height: 3px;
			transition: all 0.6s cubic-bezier(0.50,-0.80,0.50,1.8);
			

			&:nth-child(1) {
				transform: translateY(10px) rotate(45deg);
			}

			&:nth-child(2) {
				opacity: 0;
			}

			&:nth-child(3) {
				transform: translateY(-8px) rotate(-45deg);
			}
		}
	}
}