@keyframes slide-top {
	from {
		opacity: 0;
		transform: translateY(-2rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slide-right {
	from {
		opacity: 0;
		transform: translateX(-2rem);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slide-bottom {
	from {
		opacity: 0;
		transform: translateY(2rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slide-left {
	from {
		opacity: 0;
		transform: translateX(2rem);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}