@import './variables';

/* General */

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

.grid {
	display: grid;
	gap: var(--gap, 1rem);
}

.justify-space-between {
	justify-content: space-between;
}

.container {
	margin-inline: auto;
	max-width: var(--container-width);
	padding-inline: 1.5em;

	@media (min-width: $bp-tablet) and (max-width: $bp-desktop - 1) {
		padding-inline: 2.5rem;
	}

	@media (min-width: $bp-desktop) {
		padding-inline: 2rem;			
	}
}

.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Colors */

.bg-dark {
	background-color: hsl(var(--clr-primary));
}

.bg-accent {
	background-color: hsl(var(--clr-secondary));
}

.bg-white {
	background-color: hsl(var(--clr-white));
}

.text-dark {
	color: hsl(var(--clr-primary));
}

.text-accent {
	color: hsl(var(--clr-secondary));
}

.text-white {
	color: hsl(var(--clr-white));
}

.text-white-50 {
	color: hsl(var(--clr-white) / 50%);
}

/* Backgrounds */

.bg {
	background-color: hsl(var(--clr-dark-bg));
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: calc(100% + 2.5rem);
		opacity: 0.25;
		z-index: -1;

		background-position: top right;
		background-repeat: no-repeat;
		background-size: cover;
		background-blend-mode: screen;

		@media (min-width: $bp-desktop) {
			top: -2.5rem;
		}
	}
}

.bg-home {
	&::before {
		background-image: url('/assets/home/background-home-mobile.jpg');
	
		@media (min-width: $bp-tablet) and (max-width: $bp-desktop - 1) {
			background-image: url('/assets/home/background-home-tablet.jpg');
		}
	
		@media (min-width: $bp-desktop) {
			background-image: url('/assets/home/background-home-desktop.jpg');
		}
	}
}

.bg-destination {
	&::before {
		background-image: url('/assets/destination/background-destination-mobile.jpg');
	
		@media (min-width: $bp-tablet) and (max-width: $bp-desktop - 1) {
			background-image: url('/assets/destination/background-destination-tablet.jpg');
		}
	
		@media (min-width: $bp-desktop) {
			background-image: url('/assets/destination/background-destination-desktop.jpg');
		}
	}
}

.bg-crew {
	&::before {
		background-image: url('/assets/crew/background-crew-mobile.jpg');		
		
		@media (min-width: $bp-tablet) and (max-width: $bp-desktop - 1) {
			background-image: url('/assets/crew/background-crew-tablet.jpg');
		}
	
		@media (min-width: $bp-desktop) {
			background-image: url('/assets/crew/background-crew-desktop.jpg');
		}
	}	
}

.bg-technology {
	&::before {
		background-image: url('/assets/technology/background-technology-mobile.jpg');

		@media (min-width: $bp-tablet) and (max-width: $bp-desktop - 1) {
			background-image: url('/assets/technology/background-technology-tablet.jpg');
		}

		@media (min-width: $bp-desktop) {
			background-image: url('/assets/technology/background-technology-desktop.jpg');
		}
	}
}

/* Typography */

.ff-serif {
	font-family: var(--ff-serif);
}
.ff-sans-cond {
	font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
	font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
	letter-spacing: 4.75px;
}
.letter-spacing-2 {
	letter-spacing: 2.7px;
}
.letter-spacing-3 {
	letter-spacing: 2.35px;
}

.uppercase {
	text-transform: uppercase;
}

.fs-900 {
	font-size: var(--fs-900);
}
.fs-800 {
	font-size: var(--fs-800);
}
.fs-700 {
	font-size: var(--fs-700);
}
.fs-600 {
	font-size: var(--fs-600);
}
.fs-500 {
	font-size: var(--fs-500);
}
.fs-400 {
	font-size: var(--fs-400);
}
.fs-300 {
	font-size: var(--fs-300);
}
.fs-200 {
	font-size: var(--fs-200);
}