---
	// Style Imports
	import '../styles/app.scss';
// Component Script
const { description, title } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="description" content={description}>
<title>{title} | Frontend Mentor</title>
<link rel="icon" type="image/x-icon" href="/favicon.png" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@200;300;500&family=Bellefair&display=swap" rel="stylesheet">