---
  // You can import components from any supported Framework here!
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import TechnologySlider from '../components/TechnologySlider';

const { title, slides } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} />    
  </head>
  <body class="bg bg-technology">
    <Header navId="technology" />

    <main>
      <div class="container grid">
        <h5 class="page-heading">
          <span class="page-heading__number">03</span>
          <span class="page-heading__text">Space Launch 101</span>          
        </h5>					

        <TechnologySlider slides={slides} client:visible />
      </div>
    </main>
  </body>
</html>

<style lang="scss">
  @import '../styles/variables.scss';

  .container {        
    --gap: 0;    
    padding-block-end: 5rem;

    @media (max-width: $bp-desktop - 1) {
      padding-inline: 0;
    }

    @media (min-width: $bp-tablet) and (max-width: $bp-desktop) {      
      padding-block: 2.5rem 6.25rem;
    }

    @media (min-width: $bp-desktop) {
      --container-width: none;
      padding-inline: 12% 0;
      padding-block: 4.75rem 6.25rem;
    }
  }

  .page-heading {
    margin-block-end: 2rem;

    @media (min-width: $bp-tablet) and (max-width: $bp-desktop - 1) {      
      margin-inline-start: 2.5rem;
      margin-block-end: 3.75rem;
    }

    @media (min-width: $bp-desktop) {      
      margin-block-end: 2.5rem;
    }
  }
</style>
